# Environment
.env
.env.local
.env.development.local
.env.test.local

# Folder
bin/
env/

# Gradle
.gradle/

# Complierer file
**.class

# Package file
*.war
*.jar

# Maven
target/
.mvn
mvn*

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# NetBeans
nbproject/private/

# IntelliJ
*.iml
.idea/

# MacOS
.DS_Store

# Linux
*~

# Node
node_modules/
package-lock.json
package.json

# Game
data